In [2]:
class Greeter(object):
    
    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable
        
    # Instance method
    def greet(self, loud=False):
        if loud:
            print 'HELLO, %s!' % self.name.upper()
        else:
            print 'Hello, %s' % self.name
        
g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred
HELLO, FRED!

In [3]:
class employee:
    raise_salary_coef = 1.05
    def __init__(self, first_name, second_name, email, salary):
        self.first_name = first_name
        self.second_name = second_name
        self.email = email
        self.salary = salary
    def all_info(self):
        print(' {} {}\n email: {}\n salary: {}'.format(self.first_name, self.second_name, self.email, self.salary))
    def raise_salary(self):
        self.salary = int(self.salary)*self.raise_salary_coef

In [4]:
emp_1 = employee('Sherlock', 'Holmes', 'sherlock.holmes@bakerstreet.uk', '10000')

In [5]:
emp_1.first_name

'Sherlock'

In [6]:
emp_1.all_info()

 Sherlock Holmes
 email: sherlock.holmes@bakerstreet.uk
 salary: 10000

In [8]:
emp_2 = employee('John', 'Watson', 'john.watson@bakerstreet.edu', '8000')

In [9]:
emp_2.all_info()

 John Watson
 email: john.watson@bakerstreet.edu
 salary: 8000

In [10]:
emp_1.raise_salary()
emp_1.salary

10500.0

In [11]:
emp_1.raise_salary_coef = 100

In [12]:
emp_2.raise_salary()
emp_2.salary

8400.0

In [13]:
emp_1.__dict__

{'email': 'sherlock.holmes@bakerstreet.uk',
 'first_name': 'Sherlock',
 'raise_salary_coef': 100,
 'salary': 10500.0,
 'second_name': 'Holmes'}